@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", sans-serif, "Manrope";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-custom {
  @apply bg-gradient-to-r from-[#f7f3ff] via-[#eae4ff] to-[#dcd6ff];
}

.button-custom {
  @apply bg-[#8f71e1] text-white hover:bg-[#7e63d6] transition duration-300 ease-in-out rounded-lg;
}
.bg-custom-border {
  @apply bg-gradient-to-r from-purple-50 via-pink-50 to-blue-50 shadow-lg p-6 rounded-lg border border-gray-300;
}
