@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", sans-serif, "Manrope";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-custom {
  @apply bg-gradient-to-r from-[#f7f3ff] via-[#eae4ff] to-[#dcd6ff];
}

.button-custom {
  @apply bg-[#8f71e1] text-white hover:bg-[#7e63d6] transition duration-300 ease-in-out rounded-lg;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-bounceIn {
  animation: bounceIn 15s ease-out infinite;
}

.animate-fadeInOut {
  animation: fadeInOut 9s ease-in-out infinite;
}
