@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", sans-serif, "Manrope";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
